extends layout

block header
  header.navbar.sticky-top.margin-sidemenu.d-flex.justify-content-center
    div
      button(class="btn navbar-toggler mr-2", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        i.fa.fa-bars
    form.form-inline.mr-auto
      div.form-group
        <input class="form-control" type="search" placeholder="&#xf002; Busca lo que quieras..." aria-label="Search"></input>
    div.mr-4
      button.modalProyecto.btn.btn-createProy.mr-3 Nuevo Proyecto
      img(src="../images/leader.png").img-profile
    div.d-inline-block.mr-4
      p #{userName.name}
      p Perfil
    #navbarSupportedContent.collapse.navbar-collapse
      div.nav.nav-tabs(role='tablist')
        a.nav-item.nav-link.send-active(href='/home_projects') Home
        a.nav-item.nav-link.send-active(href='/dashboard/'+project_id) Dashboard
      
block sidemenu
  div.sidenav
    img(src="../images/logo.png")
    div.menu.mt-5
      div.nav.nav-tabs(role='tablist')
        a.nav-item.nav-link.send-active(href='/home_projects') Home
        a.nav-item.nav-link.send-active(href='/dashboard/'+project_id) Dashboard
      div.fixed-bottom.ml-5.mb-3
        a(href="/logout").logout
          img(src="../images/logout.png").img-profile

block content
  main.container-fluid
    div#profile.container
      div.row
        div.col-md-4.personal.mt-3
          div.wrapper.mx-auto.mt-3
            img(src="../images/osito.png").img-fluid
            div.overlay <i class="fa fa-camera"></i> Subir Foto
          div(data-id=user_id).mt-2
            div.form-group
              label(for='name') Nombre
              input#name.form-control(type='text', value=userName.name)
            div.form-group
              label(for='email') Email
              input#email.form-control(type='text', value=userName.email)
            div.form-group
              label(for='birthday') Fecha de Nacimiento
              input#birthday.form-control(type='date', value=userName.birthday)
            div.form-group
              button.btn.update Actualizar
        div.col-md-7.profesional.mt-3.ml-5
          div.row.p-3
            div.pt-3
              h4 Habilidades
            div.ml-auto
              button#addAbility.btn(data-project_id=project_id) AGREGAR
          div.row
            div.pl-3
              p Cuentanos … ¿En qué eres bueno?
          div.row
            if abilities != ''
              table.table
                thead
                  tr
                    th(scope='col') Nombre
                    th(scope='col') Tipo
                    th(scope='col') 
                    th(scope='col') 
                tbody
                  each val in abilities
                    tr(id=val._id)
                      td.abilityName #{val.name}
                      td.abilityType #{val.type}
                      td 
                        i.fa.fa-pencil.editAbility
                      td 
                        button.btn.deleteAbility ELIMINAR
              div.mt-3.mx-auto.nonAbility.d-none
                img(src="../images/panzon.png")
                p Agregar tus habilidades nos ayudan a saber en que área puedes destacar!
            else
              div.mt-3.mx-auto
                img(src="../images/panzon.png")
                p Agregar tus habilidades nos ayudan a saber en que área puedes destacar!
